@mixin cursor($name, $x, $y, $fallback: $name) {
	cursor: url("../sprite/cursor/#{$name}.png") $x * 2 $y * 2, $fallback;
}

@function list-get($list, $i, $fallback: null) {
	@if length($list) < $i {
		@return $fallback;
	}
	
	@return nth($list, $i);
}

body {
	background: #000;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
    height: 100vh;
	color: #9bd1ec;
	@include cursor(default, 1, 1);
}

canvas {
	width: calc(var(--width, auto) * 1px);
	height: calc(var(--height, auto) * 1px);
	image-rendering: crisp-edges;
	image-rendering: pixelated;
}

svg {
	position: fixed;
	top: 100vh;
}

aside {
	position: fixed;
	max-width: 220px;
	font-size: inherit;
	top: 30px;
	left: 60px;
	
	ul {
		margin-left: -50px;
	}
}

a {
	color: green;
	&:hover {
		color: lime;
	}
	
	padding: 5px 10px;
	display: inline-block;
}

li::marker {
	color: #004200;
}

#music {
	text-decoration: none;
	position: fixed;
	bottom: 30px;
	left: 30px;
}

a, button {
	@include cursor(pointer, 1, 1);
}

$cursors: (
	default: 1 1,
	pointer: 1 1,
	grab: 1 3,
	grabbing: 1 1,
	mine: 1 1 pointer,
	"grab-ignite": 1 3 pointer,
);

@each $name, $data in $cursors {
	.cursor-#{$name} {
		@include cursor($name, 
			list-get($data, 1), 
			list-get($data, 2), 
			list-get($data, 3, $name));
	}
}
